
@{
    
Layout="~/siteLayout.cshtml";

}

@{

    var db= Database.Open("Movie");

    var sqlQ = "SELECT * FROM Favorites";

    var data = db.Query(sqlQ);   

}

 

<div id="movieslist">

  <ol>

    @foreach(var row in data){

      <li>@row.Name, @row.Genre, @row.ReleaseYear <a style="display:inline" href="EditMovieALL.cshtml?id=@row.id">Edit</a> <a style="display:inline" href="DeleteMovieALL.cshtml?id=@row.id">Delete</a></li>

    }

  </ol>

    <a href="AddMovieALL.cshtml">Add a new movie</a>

</div>

