<!DOCTYPE html>

 <html lang="en">

 <head>

<meta charset="utf-8" />

 <title>My Favorite Movies</title>

    <link href="Movies.css" rel="stylesheet" type="text/css" />

</head>

<body>

 <header>

 <h1>A list of my Favorite Movies</h1>

 </header>
